<footer
  class="flex flex-wrap items-center justify-between gap-3 bg-gradient-to-t from-[#133249] to-transparent px-8 pb-6 pt-32 sm:gap-0 sm:px-14 sm:pt-36">

  <div class="order-2 max-w-sm md:order-first lg:max-w-lg">
    <p class="w-full text-xs text-gray-300 lg:text-sm">This product uses the TMDB API but is not endorsed or certified
      by TMDB. Notflix does not host or store any media files. All content is linked from third-party providers.

    </p>
  </div>
  <div>
    <p class="w-full text-start text-xs text-gray-300 md:text-end lg:text-base">© 2025 NotFlix. All rights reserved.</p>
  </div>

</footer>