<section>

  <app-slider-movie-details [movieDetails]="MovieDeatails" [movieVideos]="MovieVideos" [MovieImages]="MovieImages"></app-slider-movie-details>

  <div class="container mx-auto px-4 ">
    <app-movie-trailer [movieDetails]="MovieDeatails" [movieVideos]="MovieVideos" [MovieImages]="MovieImages"></app-movie-trailer>
    <app-movie-cast [type]="'Movie'" [MovieCast]="MovieCast"></app-movie-cast>
    <app-movie-recommendations [type]="'Movie'" [recommendationMovie]="MovieRecommendation"></app-movie-recommendations>
  </div>
</section>

