<section class="movie__cast mt-18">

  <h2 class="text-2xl font-bold mb-4 text-white"> {{type}} Cast</h2>

  <div class="relative my-4">

    <div class=" slider__controls absolute top-1/2 left-0 right-0 flex justify-between z-40">
      <button (click)="carousel.prev()"
        class="p-2  text-[rgba(255,255,255,0.5)] cursor-pointer hover:text-white rounded-full">
        <i class="pi pi-angle-left" style="font-size: 35px;"></i>
      </button>
      <button (click)="carousel.next()"
        class="p-2  text-[rgba(255,255,255,0.5)] cursor-pointer hover:text-white rounded-full">
        <i class="pi pi-angle-right" style="font-size: 35px;"></i>
      </button>
    </div>

    <owl-carousel-o [options]="customOptions" #carousel>

      @for (cast of MovieCast; track $index) {
          <ng-template carouselSlide>
        <app-cast-card [cast]="cast"></app-cast-card>
      </ng-template>
        }


    </owl-carousel-o>

  </div>


</section>
