<nav #navbar
  class="bg-gradient-to-b from-[#0C1321] to-transparent fixed w-full z-[80] top-0 start-0  transition-background duration-500 ease-in-out  ">
  <div class="container mx-auto spac flex flex-wrap items-center justify-between  p-4">
    <a class="flex items-center rtl:space-x-reverse">
      <span class=" text-2xl font-semibold whitespace-nowrap text-main">N</span>
      <span class=" text-2xl font-semibold whitespace-nowrap text-main">o</span>
      <span class=" text-2xl font-semibold whitespace-nowrap text-main">t</span>
      <span class=" text-2xl font-semibold whitespace-nowrap text-main">F</span>
      <span class=" text-2xl font-semibold whitespace-nowrap text-white">l</span>
      <span class=" text-2xl font-semibold whitespace-nowrap text-white">i</span>
      <span class=" text-2xl font-semibold whitespace-nowrap text-white">x</span>
    </a>
    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse ">

      <div class="relative">
        <a routerLink="/favorites" class="text-white me-3 " routerLinkActive="text-main!">
          <i class="pi pi-heart   cursor-pointer " [style]="{'font-size': '1.5rem'}"></i>

        </a>
        <p
          class="absolute top-[-2px] left-[-10px] w-4 h-4 text-xs leading-tight text-center text-white bg-main rounded-full">
          {{ this._authService.favoriteitems$().length }}</p>
      </div>

      <a routerLink="/search" class="text-white" routerLinkActive="text-main!">
        <i class="pi pi-search   cursor-pointer " [style]="{'font-size': '1.5rem'}"></i>

      </a>
      <div class="md:hidden">
        <p-button type="button" (click)="visible1 = true" icon="pi pi-bars"
          [style]="{backgroundColor: 'transparent' , border: 'none', fontSize: '1.5rem'}" />
      </div>

    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex  font-medium  rounded-lg  md:space-x-8   ">
        <li>
          <a class="block py-2 px-3  bg-blue-700 rounded-sm md:bg-transparent text-white text-lg font-bold"
            routerLink="/home" routerLinkActive="text-main!" aria-current="page">Home</a>
        </li>
        <li>
          <a routerLink="/movies" routerLinkActive="text-main!"
            class="block py-2 px-3  text-white text-lg font-bold">Movies</a>
        </li>
        <li>
          <a routerLink="/series" routerLinkActive="text-main!"
            class="block py-2 px-3  text-white text-lg font-bold">Series</a>
        </li>
        <li>

          <a routerLink="/genres" routerLinkActive="text-main!"
            class="block py-2 px-3  text-white text-lg font-bold">Genres</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- sideBar -->
<p-drawer [style]="{background: '#0C1321' , border: 'none'}" header="Notflix" [(visible)]="visible1" position="right">
  <ul>
    <li class="py-2 px-3 text-white text-lg font-bold">
      <a (click)="visible1=false" routerLink="/home" routerLinkActive="text-main!" aria-current="page">Home</a>
    </li>
    <li class="py-2 px-3 text-white text-lg font-bold">
      <a (click)="visible1=false" routerLink="/movies" routerLinkActive="text-main!">Movies</a>
    </li>
    <li class="py-2 px-3 text-white text-lg font-bold">
      <a (click)="visible1=false" routerLink="/series" routerLinkActive="text-main!">Series</a>
    </li>
    <li class="py-2 px-3 text-white text-lg font-bold">
      <a (click)="visible1=false" routerLink="/genres" routerLinkActive="text-main!">Genres</a>
    </li>
  </ul>
</p-drawer>